Bonjour {{ user.username }},<br/>

Tu as demandé à réinitialiser ton mot de passe sur WeatherApp. <br/>
Pour continuer, clique sur le lien ci-dessous :<br/>
<a href="{{ resetLink }}">{{ resetLink }}</a>

